<div class="hc-user-card" id="js-github-user-card">
  <img class="hc-user-card__img" alt="picture of me, Brian Douglas" data-src="/images/me.jpeg">
  <div class="hc-user-card__details">
    <h2 class="hc-user-card__name">Brian Douglas</h2>
    <h4 class="hc-user-card__github-username">
      <a href="https://github.com/BrianDGLS">@BrianDGLS</a>
    </h4>
    <p class="hc-user-card__bio">An Irish software engineer. Focused on Javascript and the web platform.</p>
    <div class="hc-user-card__links-wrap">
      <a class="hc-user-card__link" href="https://github.com/BrianDGLS/">Github</a>
      <a class="hc-user-card__link" href="https://codepen.io/BrianDGLS/">Codepen</a>
    </div>
  </div>
</div>